In [1]:
# import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import csv

In [2]:
sm = pd.read_csv("C:/Users/solis/Desktop/Research/CC/SM/GS-series-matrix.csv")
sm1 = sm # making a copy to use later

In [3]:
probe_id = sm['ID_REF']
probe_id = probe_id[:-1]
probe_id # probe ids from the original series-matrix
spID = sm1.iloc[:, 0]
spID

0                       1007_s_at
1                         1053_at
2                          117_at
3                          121_at
4                       1255_g_at
                   ...
54671              AFFX-ThrX-M_at
54672             AFFX-TrpnX-3_at
54673             AFFX-TrpnX-5_at
54674             AFFX-TrpnX-M_at
54675    !series_matrix_table_end
Name: ID_REF, Length: 54676, dtype: object

In [4]:
gene = pd.read_csv('gene-conversion.csv')
pID = gene.iloc[:, 0]
colTo=gene.iloc[:, 1]
colGene = gene.iloc[:, 3]
toList = colTo.unique()
geneList = colGene.unique()

In [5]:

homoID = []
for p in pID:
    for idx, s in enumerate(spID):  # Track index properly
        if p == s:
            homoID.append(idx)  # Store the correct index
            break  # Stop once we find the first match

In [6]:
h2 = homoID.copy()
h2.sort()
reducedSM2 = sm.loc[h2]

In [ ]:
homoID

In [37]:
indexSix = pd.read_csv("indexPos.csv")
indexSix.iloc[:, 0]
row_list = indexSix.iloc[:,0].values.flatten().tolist()
# row_list = row_list[1:]
row_list.append(0)
row_list.sort()
row_list

[0,
 1,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 17,
 23,
 24,
 25,
 27,
 28,
 30,
 31,
 32,
 33,
 34,
 36,
 38,
 39,
 40,
 41,
 42,
 44,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 60,
 63,
 64,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 77,
 78,
 79,
 80,
 83,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 96,
 97,
 99,
 100,
 101,
 102,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 114,
 115,
 116,
 117,
 118,
 120,
 121,
 122,
 124,
 125,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 150,
 151,
 152,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 165,
 168,
 171,
 172,
 174,
 175,
 176,
 177,
 178,
 180,
 181,
 183,
 185,
 186,
 187,
 188,
 190,
 191,
 194,
 195,
 197,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 220,
 221,
 222,
 223,
 225,
 226,
 227,
 229,
 230,
 231,
 232,
 233,
 234,
 241,
 243,
 245,
 248,
 249,
 250,
 252,
 253,
 254,
 255,
 257,
 258,
 260,
 261,
 262,
 264,
 266,
 267,
 268,
 271,
 274,
 275,
 276,
 277,
 278,
 279,
 281,
 284,
 287,
 289,
 290,
 292,
 293,
 294,
 296,
 297,
 298,
 300,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 311,
 313,
 316,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 328,
 329,
 331,
 332,
 333,
 334,
 339,
 340,
 342,
 344,
 345,
 346,
 348,
 349,
 351,
 352,
 354,
 357,
 358,
 359,
 361,
 362,
 363,
 365,
 367,
 368,
 369,
 370,
 371,
 372,
 374,
 375,
 376,
 377,
 378,
 382,
 383,
 384,
 385,
 388,
 390,
 391,
 392,
 393,
 394,
 395,
 397,
 399,
 402,
 403,
 405,
 406,
 410,
 411,
 412,
 413,
 414,
 416,
 417,
 419,
 420,
 421,
 422,
 423,
 424,
 426,
 428,
 430,
 431,
 432,
 433,
 435,
 437,
 438,
 440,
 445,
 447,
 450,
 453,
 454,
 456,
 457,
 458,
 460,
 462,
 463,
 465,
 466,
 468,
 469,
 470,
 472,
 474,
 475,
 476,
 478,
 479,
 482,
 483,
 484,
 485,
 487,
 488,
 489,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 511,
 512,
 514,
 516,
 518,
 519,
 520,
 522,
 524,
 527,
 528,
 529,
 530,
 531,
 534,
 538,
 540,
 548,
 551,
 553,
 555,
 556,
 559,
 561,
 562,
 565,
 566,
 568,
 569,
 570,
 571,
 574,
 575,
 576,
 577,
 579,
 580,
 581,
 585,
 586,
 587,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 600,
 601,
 602,
 603,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 620,
 621,
 622,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 635,
 642,
 643,
 646,
 650,
 652,
 653,
 655,
 658,
 659,
 661,
 663,
 664,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 683,
 684,
 685,
 687,
 688,
 692,
 696,
 697,
 699,
 704,
 705,
 707,
 708,
 709,
 710,
 713,
 715,
 716,
 717,
 718,
 719,
 720,
 723,
 725,
 726,
 727,
 728,
 730,
 732,
 734,
 736,
 737,
 738,
 741,
 742,
 743,
 745,
 746,
 747,
 748,
 750,
 751,
 752,
 755,
 758,
 759,
 764,
 765,
 769,
 770,
 772,
 774,
 775,
 777,
 780,
 784,
 786,
 787,
 788,
 789,
 792,
 793,
 794,
 796,
 799,
 800,
 803,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 816,
 817,
 820,
 821,
 823,
 824,
 825,
 827,
 829,
 831,
 832,
 833,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 846,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 873,
 875,
 876,
 879,
 880,
 883,
 889,
 891,
 892,
 893,
 894,
 895,
 897,
 902,
 906,
 907,
 908,
 910,
 911,
 912,
 913,
 914,
 916,
 920,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 930,
 931,
 932,
 933,
 934,
 937,
 938,
 939,
 941,
 944,
 946,
 947,
 948,
 952,
 958,
 961,
 963,
 966,
 967,
 968,
 970,
 971,
 972,
 973,
 977,
 980,
 982,
 983,
 989,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1014,
 1016,
 1020,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1030,
 1032,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1042,
 1043,
 1044,
 1045,
 1046,
 1048,
 1049,
 1054,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1063,
 1066,
 1068,
 1069,
 1071,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1085,
 1086,
 1088,
 1089,
 1091,
 1095,
 1097,
 1099,
 1104,
 1105,
 1107,
 1109,
 1110,
 1111,
 1115,
 1116,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1130,
 1132,
 1133,
 1134,
 1135,
 1137,
 1138,
 1139,
 1140,
 1141,
 1143,
 1144,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1154,
 1157,
 1159,
 1160,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1173,
 1174,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1187,
 1192,
 1193,
 1194,
 1196,
 1199,
 1200,
 1202,
 1204,
 1205,
 1208,
 1213,
 1214,
 1215,
 1216,
 1217,
 1219,
 1220,
 1222,
 1225,
 1226,
 1228,
 1229,
 1231,
 1232,
 1233,
 1236,
 1237,
 1238,
 1239,
 1241,
 1243,
 1244,
 1247,
 1250,
 1255,
 1257,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1268,
 1269,
 1272,
 1273,
 1275,
 1276,
 1277,
 1278,
 1280,
 1281,
 1282,
 1284,
 1285,
 1287,
 1289,
 1291,
 1292,
 1293,
 1294,
 1295,
 1297,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1310,
 1311,
 1312,
 1313,
 1314,
 1315,
 1316,
 1317,
 1318,
 1319,
 1321,
 1322,
 1323,
 1324,
 1327,
 1328,
 1329,
 1330,
 1332,
 1334,
 1336,
 1337,
 1338,
 1339,
 1343,
 1344,
 1345,
 1347,
 1348,
 1349,
 1350,
 1351,
 1352,
 1353,
 1354,
 1356,
 1357,
 1358,
 1360,
 1361,
 1362,
 1363,
 1364,
 1368,
 1369,
 1370,
 1372,
 1375,
 1376,
 1377,
 1378,
 1379,
 1380,
 1382,
 1384,
 1385,
 1386,
 1389,
 1390,
 1391,
 1392,
 1393,
 1397,
 1398,
 1399,
 1403,
 1404,
 1405,
 1409,
 1411,
 1413,
 1415,
 1418,
 1419,
 1421,
 1422,
 1424,
 1426,
 1427,
 1428,
 1429,
 1433,
 1435,
 1436,
 1437,
 1438,
 1440,
 1442,
 1443,
 1444,
 1446,
 1447,
 1448,
 1450,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1462,
 1465,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1483,
 1484,
 1485,
 1486,
 1487,
 1488,
 1490,
 1491,
 1493,
 1495,
 1496,
 1497,
 1499,
 1500,
 1503,
 1504,
 1508,
 1509,
 1510,
 1511,
 1512,
 1515,
 1516,
 1517,
 1519,
 1521,
 1522,
 1527,
 1528,
 1529,
 1530,
 1531,
 1532,
 1534,
 1535,
 1536,
 ...]

In [38]:
reducedSM = sm.loc[homoID]
# reducedSM2 = reducedSM2.copy
reducedSM = reducedSM.iloc[:, row_list]
reducedSM

,ID_REF,GSM38051,GSM38054,GSM38055,GSM38057,GSM38058,GSM38059,GSM38060,GSM38061,GSM38062,...,GSM353928,GSM353929,GSM353930,GSM353931,GSM353933,GSM353935,GSM353937,GSM353939,GSM353941,GSM353943
25524,216232_s_at,1088.1,935.9,1216.0,1348.9,1034.4,705.9,643.7,866.2,990.7,...,670.2,660.9,626.9,653.8,1041.8,1018.1,994.4,1092.0,1608.4,1318.9
29400,220116_at,40.0,62.4,81.9,86.8,761.5,49.0,82.9,61.8,175.3,...,86.9,133.2,61.1,248.9,84.5,134.4,243.4,56.4,230.3,109.1
28411,219127_at,1379.9,1037.5,1660.2,1114.9,777.6,1122.2,940.3,1042.1,1171.0,...,113.0,700.3,2132.9,267.2,325.0,217.6,478.7,3015.0,1266.3,85.6
35061,225804_at,587.5,542.5,417.6,706.6,378.6,419.7,462.6,580.1,896.3,...,863.1,706.9,1172.3,807.8,767.3,54.3,673.4,678.0,767.4,366.0
3936,1557848_at,9.8,16.1,20.8,21.8,14.9,41.2,84.3,87.4,7.5,...,171.7,306.8,120.8,119.2,18.2,16.1,72.9,15.6,25.1,23.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24199,214904_at,125.9,95.2,72.0,11.9,75.5,92.6,115.9,59.0,120.7,...,127.9,102.4,40.0,68.6,10.7,14.8,67.0,70.2,8.0,100.8
33791,224530_s_at,8.6,6.8,6.1,6.9,6.6,5.0,20.6,9.9,5.3,...,104.4,267.1,199.7,83.3,18.4,9.9,9.9,20.3,5.7,10.5
28168,218884_s_at,327.1,323.0,391.6,430.4,458.6,301.7,311.4,262.0,537.5,...,241.9,411.5,243.2,322.2,312.8,248.8,154.8,230.4,355.1,632.4
33312,224038_at,17.4,16.8,9.4,26.4,12.4,74.0,5.3,7.0,39.5,...,138.4,139.6,58.3,78.3,140.9,23.9,127.8,11.2,16.0,62.1
35954,226699_at,34.5,25.0,92.3,7.2,106.7,25.5,27.3,112.1,29.7,...,38.9,12.7,22.8,31.9,11.5,48.3,22.3,24.7,36.6,34.8

check if there were any nan values in reducedSM (which is used to calculate the median for value for all genes)

In [9]:
# numNA = {}
# pat = reducedSM.columns[1:]
# for patient in pat:
#     s = reducedSM[f'{patient}'].isnull().sum()
#     if s > 0:
#         numNA[patient] = s

# numNA
geneCheck = [11782, 8298, 31711, 43216, 33336, 21363, 37774, 33769, 13868, 21068]
sanitary = reducedSM.iloc[geneCheck]

In [10]:
ss = sanitary.iloc[:, 0]
for i in ss:
    print(i)

235277_at
229290_at
1553860_at
211879_x_at
239099_at
223237_x_at
209187_at
240027_at
232094_at
219402_s_at

In [11]:
gene = pd.read_csv('gene-conversion.csv')
gene2 = gene.copy

gene2 = gene.assign(Index=homoID)
gene2

,From,To,Species,Gene Name,Index
0,216232_s_at,10985,Homo sapiens,GCN1 activator of EIF2AK4(GCN1),25524
1,220116_at,3781,Homo sapiens,potassium calcium-activated channel subfamily ...,29400
2,219127_at,79170,Homo sapiens,proline rich 15 like(PRR15L),28411
3,225804_at,124936,Homo sapiens,cytochrome b5 domain containing 2(CYB5D2),35061
4,1557848_at,101929084,Homo sapiens,long intergenic non-protein coding RNA 2401(LI...,3936
...,...,...,...,...,...
44499,214904_at,7592,Homo sapiens,zinc finger protein 41(ZNF41),24199
44500,224530_s_at,80333,Homo sapiens,potassium voltage-gated channel interacting pr...,33791
44501,218884_s_at,60558,Homo sapiens,GTP binding elongation factor GUF1(GUF1),28168
44502,224038_at,100287932,Homo sapiens,translocase of inner mitochondrial membrane 23...,33312
44503,226699_at,89848,Homo sapiens,FCH and double SH3 domains 1(FCHSD1),35954

In [ ]:
# for sanitary check : cprinting index that belongs to gene
# geneI = gene2.iloc[:, -1]
# genes = gene2.iloc[:,0]
# for g,ix in zip(genes, geneI):
#     for i in ss:
#         if g == i:
#             print(ix)

In [49]:
import pandas as pd

# Step 1: Reshape `gene2` into long format for faster lookup
gene_long = gene2.melt(id_vars=gene2.columns[0], var_name="col", value_name="Gene")
gene_long = gene_long.drop(columns=["col"]).dropna()  # Drop unnecessary column
gene_long = gene_long.rename(columns={gene_long.columns[0]: "ID_REF"})  # Ensure first column is 'PI'

# Step 2: Filter only the relevant PIs for the given genes
gene_filtered = gene_long[gene_long["Gene"].isin(geneList)]

# Step 3: Merge once instead of filtering repeatedly
merged_df = gene_filtered.merge(reducedSM, on='ID_REF', how="left")
# Step 4: Compute mean efficiently using groupby()
final_geneAvg = merged_df.drop(columns=["ID_REF"]).groupby("Gene").mean()
# Display the final DataFrame
# final_geneAvg.iloc[:, row_list]
final_geneAvg
final_geneAvg.to_csv('Gene-Average.csv')

In [ ]:
# #sanitary check - want to use og and use on 10 instances 
# geneAvg_list2 = []  # Store mean expression DataFrames for each gene

# for gene in geneList:
#     # **Step 1: Filter gene2 for matching genes efficiently**
#     val = gene2[gene2.iloc[:, 1:].apply(lambda row: gene in row.values, axis=1)]  # Assuming gene is in any column (excluding the first column)

#     # **Step 2: Extract relevant column values**
#     samePI = val.iloc[:, 0].tolist()  # Assuming the first column contains PI
    
#     # **Step 3: Use `.isin()` instead of looping**
#     temp_df = reducedSM[reducedSM.iloc[:, 0].isin(samePI)]  # Assuming first column in reducedSM contains PI values
    
#     if not temp_df.empty:
#         # **Step 4: Drop metadata column & compute mean**
#         temp1 = temp_df.iloc[:, 1:]  # Drop the first column (PI)
#         geneAvg = temp1.mean(axis=0).to_frame().T  # Compute mean and transpose
#         geneAvg.index = [gene]  # Set the gene name as the index

#         geneAvg_list2.append(geneAvg)

# # **Step 5: Concatenate all computed means**
# if geneAvg_list2:
#     final_geneAvg = pd.concat(geneAvg_list2)
# else:
#     final_geneAvg = pd.DataFrame()  # Return empty DataFrame if nothing found

# # Display the final DataFrame
# print(final_geneAvg)

In [12]:
# final_geneAvg.to_csv('Gene-Average.csv')

In [52]:
final_geneAvg = pd.read_csv('Gene-Average.csv')
final_geneAvg
final_geneAvg = final_geneAvg.round(2)
final_geneAvg.loc[:, 'Gene']

0                1,4-alpha-glucan branching enzyme 1(GBE1)
1        1-acylglycerol-3-phosphate O-acyltransferase 1...
2        1-acylglycerol-3-phosphate O-acyltransferase 2...
3        1-acylglycerol-3-phosphate O-acyltransferase 3...
4        1-acylglycerol-3-phosphate O-acyltransferase 4...
                               ...
21404            zyg-11 related cell cycle regulator(ZER1)
21405                                zygote arrest 1(ZAR1)
21406                     zymogen granule protein 16(ZG16)
21407                   zymogen granule protein 16B(ZG16B)
21408                                           zyxin(ZYX)
Name: Gene, Length: 21409, dtype: object

In [53]:
shortGene = []
longGene = final_geneAvg.iloc[:, 0] # list of the entire gene name
for i in longGene:
    lg = i.split(' ')
    last_element = lg[len(lg) - 1]  
    x = last_element.find("(")
    shortGene.append(last_element[x:(len(last_element))])

sG = pd.DataFrame(shortGene, columns=["Gene Name"])
sG

      Gene Name
0        (GBE1)
1      (AGPAT1)
2      (AGPAT2)
3      (AGPAT3)
4      (AGPAT4)
...         ...
21404    (ZER1)
21405    (ZAR1)
21406    (ZG16)
21407   (ZG16B)
21408     (ZYX)

[21409 rows x 1 columns]

In [55]:
copyFGA = final_geneAvg.copy()
copyFGA
copyFGA.iloc[:,0] = sG
copyFGA.rename(columns={"Unnamed: 0": "Gene Name"}, inplace=True)
# for i in copyFGA:
#     print(i)

copyFGA.to_csv("GM-SM.csv")

right now everything below is being used

In [ ]:
file = open('probe_id.txt','w')
for probe in probe_id:
	file.write(probe+"\n")
file.close()

In [ ]:
co = pd.read_csv("CO2.csv")
co

     Unnamed: 0       0
0      GSM38051  Breast
1      GSM38054  Breast
2      GSM38055   Colon
3      GSM38057  Breast
4      GSM38058    Lung
...         ...     ...
1383  GSM353935  Uterus
1384  GSM353937  Uterus
1385  GSM353939   Colon
1386  GSM353941  Uterus
1387  GSM353943  Uterus

[1388 rows x 2 columns]

In [ ]:


description = pd.read_csv("C:/Users/solis/Desktop/Research/CC/SM/GS-SM-06.csv")
# description = description.iloc[1: ]
# breast_data = pd.read_csv('GS-SM-BREAST.csv')
# colon_data = pd.read_csv('GS-SM-COLON.csv')
# kidney_data = pd.read_csv('GS-SM-KIDNEY.csv')
# ovary_data = pd.read_csv('GS-SM-OVARY.csv')
# uterus_data = pd.read_csv('GS-SM-UTERUS.csv')
# lung_data = pd.read_csv('GS-SM-LUNG.csv')

desc = pd.DataFrame(description.iloc[:, 1:])

In [ ]:
desc1 = description.dropna()
desc1.transpose()
desc1.iloc[1:, 1:]
# desc1.to_csv("SMF-06.csv")
# desc1

,GSM38051,GSM38054,GSM38057,GSM38059,GSM38062,GSM38063,GSM38080,GSM38081,GSM38082,GSM38083,...,GSM277695,GSM277696,GSM301680,GSM325836,GSM353885,GSM353897,GSM353908,GSM353912,GSM353913,GSM353933
1,657.3,643.2,959.1,1149.5,684.8,826.3,528.6,1710.3,319.7,410.3,...,492.1,597.8,997.4,406.7,465.9,868.1,259.6,356.8,521.7,689.4
2,315.8,564.0,478.6,463.5,338.1,867.7,676.0,181.1,372.8,530.6,...,1077.0,277.5,628.8,121.3,522.2,337.3,467.4,340.1,1326.0,1187.5
3,442.8,554.3,495.9,670.5,578.3,847.3,504.0,454.0,525.8,463.3,...,478.1,876.8,677.3,923.1,471.8,903.3,529.7,705.7,636.7,360.9
4,9.2,9.4,74.3,25.0,36.9,53.9,16.5,30.7,102.1,19.7,...,95.6,79.5,50.6,128.1,87.0,48.6,43.5,53.0,24.2,124.0
5,658.4,845.6,470.2,494.2,1019.2,555.0,495.8,479.7,928.1,481.3,...,1456.3,629.3,625.2,732.9,853.0,529.1,1385.7,1322.3,512.4,849.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54670,431.7,559.7,443.5,561.5,424.4,291.5,304.9,378.1,272.2,266.0,...,168.9,764.0,551.3,692.7,208.2,919.2,318.5,309.1,98.8,109.9
54671,677.4,765.3,623.3,725.1,615.5,448.4,451.4,440.0,408.9,370.2,...,565.2,1086.8,767.1,901.2,465.9,1617.6,569.8,423.8,236.8,369.8
54672,4.3,29.6,3.3,12.6,13.2,4.3,17.4,9.1,74.2,4.5,...,6.5,2.3,3.1,56.7,8.8,4.7,3.5,22.4,12.7,41.3
54673,53.4,8.9,37.3,10.7,16.5,5.7,35.8,51.2,10.5,59.8,...,30.4,15.2,30.6,49.4,41.8,67.2,21.7,27.4,8.0,12.6
54674,14.4,2.8,11.7,2.0,8.8,8.5,4.2,3.9,3.4,9.3,...,3.1,4.2,3.1,8.9,1.9,33.8,4.0,14.0,6.5,4.5

In [ ]:

non_numeric_columns = desc1.select_dtypes(exclude=['number']).columns

col = ['ID_REF', 'ID_REF.1', 'ID_REF.2', 'ID_REF.3', 'ID_REF.4']
flipped = desc1.drop(columns=col)
flipped = flipped.iloc[:, 1:]
xa = flipped.columns
xar = pd.DataFrame(xa)

In [ ]:
flipped2 = flipped.transpose()
# flipped2.dtypes
xar.to_csv("fixCanCount.csv")
co = pd.read_csv("CO2.csv")
co

NameError: name 'flipped' is not defined

AttributeError: module 'plotly.express.data' has no attribute 'flipped2'